@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes zoom {
  0% { transform: scale(0.8); opacity: 0 }
  100% { transform: scale(1); opacity: 1 }
}

.animate-zoom {
  animation: zoom 0.8s ease-out forwards;
}
